.shiny-output-error-validation{
  color: lightgrey;
  text-align: center;
  padding: 100px;
}

.well{
  padding: 1px;
  background-color: white;
  border: white;
  padding-left: 20px;
  box-shadow: none;
}

#showoptions {
  color: grey;
  font-size: 90%;
}
