.shiny-output-error-validation{
  color: lightgrey;
  text-align: center;
  padding: 100px;
}

.well{
  padding: 10px;
  background-color: whitesmoke;
  border: none;
  padding-left: 20px;
  box-shadow: none;
}

.selectize-input{
  font-size: 65%;
}

.selectize-dropdown-content{
  font-size: 70%;
}

.tab-content{
  margin: 10px;
}

.markdw{
  max-width: 700px;
  margin: 0 auto;
}

#go{
  width: 60%;
  display: block;
  margin: 0 auto;
}

#showmeans + span{
  font-weight: 800;
}

#reset_outliers{
  color: lightgrey;
  float: right;
  margin-top: -15px;
}

tfoot {
  display: table-header-group;
}

.md_foot{
  margin-top: 200px;
  color: lightgray;
  float: right;
  width: 85%;
}

.md_foot:hover{
  color: darkgray;
  text-decoration: none;
}
